body {
   background: url('/static/img/p2.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.75
}
.myBackground {
  background-color: rgba(255,255,255, 1);
  color: inherit;
}
.jumbotron {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(https://i.stack.imgur.com/YlsJf.gif) no-repeat center;
    margin-bottom: 0px;
    border: 0px
    border-top-right-radius: 0px 0px;
    opacity: 0.1
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}


.jumbo_text {
  color: white;
}


/* Style the navbar */
#navbar {
  overflow: hidden;
  background-color: #333;
}

#navbar .active {
  background-color: #1E9DA7;
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

/* Page content */
.content {
  padding: 16px;
}

#navbar a:hover {
  background-color: #1E9DA7;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}



